html {
  height: 100%;
}

body {
  height: 100%;
}

.header--wrapper {
  align-items: center;
  background-color: #222;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.header--title {
  color: white;
  cursor: pointer;
  font-family: "Black Ops One", cursive;
  font-size: 52px;
  margin: 0 36px;
  text-shadow: 4px 4px 0 #74e2ff;
  transition: text-shadow 0.2s ease-in-out;
}

.header--title:hover {
  text-shadow: -4px -4px 0 #fa8072;
}

.header--nav_container {
  align-items: end;
  display: flex;
  height: 100%;
  margin-right: 100px;
}

.header--nav_list {
  color: white;
  display: flex;
  list-style: none;
  /*justify-content: flex-end;*/
}

.header--nav_item {
  cursor: pointer;
  font-family: "Black Ops One", cursive;
  font-size: 30px;
  margin: 0 16px;
  transition: text-shadow 0.2s ease-in-out;
}

.header--nav_item:hover {
  text-shadow: 4px 4px 0 #74e2ff;
}
