html {
    height: 100%;
}

body {
    height: 100%;
}

.header--wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    height: 200px;
    background-color: #222222;
}

.header--title {
    color: white;
}
