// colors
$primary: #74e2ff;
$primary-dark: #24a3cc;
$secondary: #fa8072;
$white: #fff;
$black: #111;
$text-dark: #222;
$gray: #ddd;

// breakpoints
$large-screen: 1024px;
$tablet-screen: 768px;
$small-screen: 640px;

// font
$font-family: Lato, 'Open Sans', Helvetica, Arial, sans-serif;

@mixin font-base {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  color: $text-dark;
}
