@use "shared" as s;

.link-style {
  text-decoration: none;
  color: s.$text-dark;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
    bottom: 0.2em;
    width: 100%;
    height: 2px;
    background: s.$primary;
    z-index: -1;
  }
  &:hover {
    &:before {
      background: s.$secondary;
    }
  }
}

.content-container {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

// cv navbar styles;
.navbar {
    color: s.$white;
    background-color: s.$black;
    text-transform: uppercase;
    @include s.font-base;
    line-height: 3rem;
    font-size: 12px;
    letter-spacing: 0.1rem;
}

.navbar-content {
  @extend .content-container;
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: s.$white;
  &:hover {
    color: s.$primary;
  };
}

.download-button {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: s.$primary-dark;
  &:hover {
    background-color: s.$secondary;
  };
  @media (min-width: s.$large-screen) {
    display: flex;
  };
}

.download-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: s.$white;
}

// cv header styles;

.title-container {
    margin-top: 64px;
    width: 250px;
    display: flex;
    flex-direction: column;
    @media (min-width: s.$small-screen) {
      flex-direction: row;
      width: 100%;
      margin-bottom: 32px;
    }
  }

.title-column {
  flex: 1;
  justify-content: flex-end;
}

.info-column {
  @include s.font-base;
  font-size: 14px;
  flex: 5;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-end;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;
  @media (min-width: s.$small-screen) {
    text-align: right;
  }
  @media (min-width: s.$tablet-screen) {
    font-size: 16px;
  }
}
.title-text {
  font-size: 45px;
  font-family: s.$font-family;
  font-weight: 900;
  color: s.$black;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-shadow: 4px 4px 0 s.$primary;
  transition: text-shadow .2s ease-in-out;
  &:hover {
    text-shadow: -4px -4px 0 s.$secondary;
  }
  @media (min-width: s.$tablet-screen) {
    font-size: 58px;
  }
  @media (min-width: s.$large-screen) {
    font-size: 75px;
  }
}

.subtitle-text {
  font-size: 16px;
  border-top: 4px solid;
  font-family: s.$font-family;
  font-weight: 300;
  color: s.$black;
  letter-spacing: 0.1rem;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: s.$tablet-screen) {
    border-top: 6px solid;
    font-size: 26px;
    font-weight: 400;
  }
  @media (min-width: s.$large-screen) {
    font-size: 32px;
    border-top: 8px solid;
  }
}

.list-item-link {
  @extend .link-style;
}

// cv sections styles;
//.section-container {
//  display: flex;
//  flex-direction: column;
//  padding-bottom: 32px;
//  border-bottom: 1px solid s.$gray;
//  @media (min-width: s.$small-screen) {
//    flex-direction: row;
//    width: 100%;
//    margin-top: 64px;
//  }
//}
//.section-title-column {
//  flex: 1;
//  @media (min-width: s.$small-screen) {
//    flex-direction: row;
//    width: 100%
//  }
//}
//.section-title-text {
//  @include s.font-base;
//  font-size: 20px;
//  font-weight: 900;
//  margin-bottom: 0;
//  margin-top: 20px;
//}
//.section-subheading {
//  margin: 0;
//}
.section-content-column {
  @include s.font-base;
  flex: 1;
  @media (min-width: s.$small-screen) {
    flex: 4;
  }
}
.section-list {
  padding-left: 18px;
}
.strong-text {
  color: s.$black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: .8rem;
  padding-right: .8rem;
  & a {
    text-decoration: none;
    color: s.$text-dark;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: .2rem;
    background-color: s.$primary;
    transition: all .8s .4s ease-in-out;
  }
  &:hover {
    &:before {
      transform: scale(1.05 1.4);
      background-color: s.$primary;
      transition-delay: 0s;
      transition-duration: .2s;
    }
  }
}

.strong-link {
  &:hover {
    &:before {
      background-color: s.$secondary;
    }
  }
}

.link-style {
  @extend .link-style;
}

.project-heading {
  @include s.font-base;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

// cv footer styles;
.footer {
  @include s.font-base;
  font-size: 14px;
}
.footer-content {
  @extend .content-container;
  display: flex;
}
.link-style {
  @extend .link-style;
}
