$primary: #74e2ff;
$primary-dark: #24a3cc;
$secondary: #fa8072;
$white: #fff;
$black: #111;
$text-dark: #222;
$gray: #ddd;
$large-screen: 1024px;
$tablet-screen: 768px;
$small-screen: 640px;

.font-base {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  color: $text-dark;
}

.link-style {
  text-decoration: none;
  color: $text-dark;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
    bottom: 0.2em;
    width: 100%;
    height: 2px;
    background: $primary;
    z-index: -1;
  }
  &:hover {
    &:before {
      background: $secondary;
    }
  }
}

.content-container {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

// cv navbar styles;
.navbar {
    color: $white;
    background-color: $black;
    text-transform: uppercase;
    @extend .font-base;
    line-height: 3rem;
    font-size: 12px;
    letter-spacing: 0.1rem;
}

.navbar-content {
  @extend .content-container;
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: $white;
  &:hover {
    color: $primary;
  };
}

.download-button {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $primary-dark;
  &:hover {
    background-color: $secondary;
  };
  @media (min-width: $large-screen) {
    display: flex;
  };
}

.download-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: $white;
}

// cv header styles;

.title-container {
    margin-top: 64px;
    width: 250px;
    display: flex;
    flex-direction: column;
    @media (min-width: $small-screen) {
      flex-direction: row;
      width: 100%;
      margin-bottom: 32px;
    }
  }

.title-column {
  flex: 1;
  justify-content: flex-end;
}

.info-column {
  @extend .font-base;
  font-size: 14px;
  flex: 5;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-end;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;
  @media (min-width: $small-screen) {
    text-align: right;
  }
  @media (min-width: $tablet-screen) {
    font-size: 16px;
  }
}
.title-text {
  font-size: 45px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: $black;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-shadow: 4px 4px 0 $primary;
  transition: text-shadow .2s ease-in-out;
  &:hover {
    text-shadow: -4px -4px 0 $secondary;
  }
  @media (min-width: $tablet-screen) {
    font-size: 58px;
  }
  @media (min-width: $large-screen) {
    font-size: 75px;
  }
}

.subtitle-text {
  font-size: 16px;
  border-top: 4px solid;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $black;
  letter-spacing: 0.1rem;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $tablet-screen) {
    border-top: 6px solid;
    font-size: 26px;
    font-weight: 400;
  }
  @media (min-width: $large-screen) {
    font-size: 32px;
    border-top: 8px solid;
  }
}

.list-item-link {
  @extend .link-style;
}

// cv sections styles;
.section-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid $gray;
  @media (min-width: $small-screen) {
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
  }
}
.section-title-column {
  flex: 1;
  @media (min-width: $small-screen) {
    flex-direction: row;
    width: 100%
  }
}
.section-title-text {
  @extend .font-base;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}
.section-subheading {
  margin: 0;
}
.section-content-column {
  @extend .font-base;
  flex: 1;
  @media (min-width: $small-screen) {
    flex: 4;
  }
}
.section-list {
  padding-left: 18px;
}
.strong-text {
  color: $black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: .8rem;
  padding-right: .8rem;
  & a {
    text-decoration: none;
    color: $text-dark;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: .2rem;
    background-color: $primary;
    transition: all .8s .4s ease-in-out;
  }
  &:hover {
    &:before {
      transform: scale(1.05 1.4);
      background-color: $primary;
      transition-delay: 0s;
      transition-duration: .2s;
    }
  }
}

.strong-link {
  &:hover {
    &:before {
      background-color: $secondary;
    }
  }
}

.link-style {
  @extend .link-style;
}

.project-heading {
  @extend .font-base;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

// cv footer styles;
.footer {
  @extend .font-base;
  font-size: 14px;
}
.footer-content {
  @extend .content-container;
  display: flex;
}
.link-style {
  @extend .link-style;
}
