@use "variables.css" as v;
@use "base.css";

.footer-container {
  @extend .content-container;
  border-top: 1px solid v.$primary;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact {
  font-size: 2rem;
  color: v.$primary;
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 20px 0;
}

.footer-contact-icon {
  color: v.$primary;
  &:hover {
  color: v.$primary-dark;
}
}

.footer--text {
  @extend .font-base;
}

.footer--title {
  @extend .font-base;
  color: v.$primary;
  font-family: "Lato Bold", sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.footer-title-bracket {
  color: v.$primary;
}

.footer-link {
}
