/* Error: Undefined variable.
 *   ,
 * 6 |   color: v.$white;
 *   |          ^^^^^^^^
 *   '
 *   navbar.scss 6:10  @use
 *   home.scss 3:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502    color: v.$white;\a   \2502           ^^^^^^^^\a   \2575 \a   navbar.scss 6:10  @use\a   home.scss 3:1     root stylesheet";
}
