@use "variables" as v;
@use "base";
@use "navbar";
@use "footer";

body {
  background-color: v.$black;
}

.home-container {
  @extend .content-container;
  min-height: calc(100% - 135px);
  counter-reset: footnotes;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container {
  padding-top: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  @media (min-width: v.$small-screen) {
    flex-direction: row;
    width: 100%;
    margin-bottom: 32px;
    padding-top: 200px;
  }
}

.title-column {
  flex: 1;
  justify-content: flex-end;
}

.info-column {
  @extend .font-base;
  color: lightcoral;
  font-size: 14px;
  flex: 5;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-end;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;
  @media (min-width: v.$small-screen) {
    text-align: right;
  }
  @media (min-width: v.$tablet-screen) {
    font-size: 16px;
  }
}
.title-text {
  font-size: 45px;
  font-family: "Lato Bold", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-shadow: -4px -4px 0 v.$primary;
  color: v.$black;
  transition: all 0.8s 0s ease-in-out;
  &:hover {
    color: v.$white;
  }
  @media (min-width: v.$tablet-screen) {
    font-size: 58px;
  }
  @media (min-width: v.$large-screen) {
    font-size: 75px;
  }
}

.main-content {
  color: v.$primary;
  font-family: "Lato Light", sans-serif;
  font-size: 18px;
  @media (min-width: v.$small-screen) {
    font-size: 22px;
  }
}

.strong-text {
  color: v.$black;
  font-family: v.$font-bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  & a {
    text-decoration: none;
    color: v.$text-dark;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.2rem;
    background-color: v.$primary;
    transition: all 0.2s 0s ease-in-out;
  }
  &:hover {
    &:before {
      transition-delay: 0s;
      transition-duration: 0.2s;
      transform: scale(1.02, 1.02);
      background-color: v.$primary-dark;
    }
  }
}

// resume styles

.resume-title-container {
  @extend .title-container;
  padding-top: 100px;
}

.resume-container {
  @extend .content-container;
  min-height: calc(100% - 135px);
}

.section-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid v.$primary;
  @media (min-width: v.$small-screen) {
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
  }
}
.section-title-column {
  flex: 1;
  @media (min-width: v.$small-screen) {
    flex-direction: row;
    width: 100%;
  }
}
.resume-section-title-text {
  @extend .font-base;
  font-family: "Lato Bold", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 20px;
}

.section-subheading {
  margin: 0;
}
.section-content-column {
  @extend .font-base;
  font-size: 18px;
  flex: 1;
  @media (min-width: v.$small-screen) {
    flex: 4;
  }
}
.section-list {
  padding-left: 18px;
}

.strong-link {
  &:hover {
    &:before {
      background-color: v.$secondary;
    }
  }
}

.project-heading {
  @extend .font-base;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

.link-style {
  text-decoration: none;
  color: v.$text-dark;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
    bottom: 0.2em;
    width: 100%;
    height: 2px;
    background: v.$primary;
    z-index: -1;
  }
  &:hover {
    &:before {
      background: v.$secondary;
    }
  }
}

a[aria-describedby="footnote"] {
  counter-increment: footnotes;
  text-decoration: none;
  color: v.$black;
  cursor: default;
  outline: none;
  /**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
  &:after {
    content: counter(footnotes);
    vertical-align: super;
    font-size: 14px;
    margin-left: 2px;
    color: v.$primary;
    cursor: pointer;
  }
  &:hover:after {
    color: v.$primary-dark;
  }
}

#footnote {
  &:target {
    background: yellow;
  }
}

.footnote-text {
  @extend .font-base;
  font-size: 16px;
  padding-inline-start: 20px;
}

[aria-label="Back to content"] {
  color: v.$primary;
  font-size: 12px;
  margin-left: 4px;
}
