@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}
html,
body {
  height: 100%;
}

.font-base, .info-column, .resume-section-title-text, .section-content-column, .project-heading, .footnote-text, .footer--text, .footer--title {
  font-family: "Lato Light", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #9cb9dd;
}

.content-container, .home-container, .resume-container, .footer-container, .navbar-container, .home--navbar-container {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.basic-link {
  color: #9cb9dd;
}
.basic-link:hover {
  color: #b4d5ff;
  text-decoration-color: #b4d5ff;
}

.navbar {
  color: #fff;
  background-color: #111;
  text-transform: uppercase;
  font-family: "Lato Light", sans-serif;
  line-height: 3rem;
  font-size: 12px;
  letter-spacing: 0.1rem;
  height: 50px;
}

.navbar-container, .home--navbar-container {
  display: flex;
  justify-content: space-between;
}

.home--navbar-container {
  justify-content: flex-end;
}

.nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  color: #9cb9dd;
  padding: 0 0.8rem;
  text-decoration: none;
  font-size: 16px;
}
.nav-button:hover {
  background-color: #9cb9dd;
  color: #111;
  font-family: "Lato Bold", sans-serif;
}
.nav-button:hover > a {
  background-color: #9cb9dd;
  color: #111;
}

.nav-button-link {
  color: #fff;
  text-decoration: none;
}

.download-button {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #6d88a9;
}
.download-button:hover {
  background-color: #fa8072;
}
@media (min-width: 1024px) {
  .download-button {
    display: flex;
  }
}

.download-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: #fff;
}

.footer-container {
  border-top: 1px solid #9cb9dd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact {
  font-size: 2rem;
  color: #9cb9dd;
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 20px 0;
}

.footer-contact-icon {
  color: #9cb9dd;
}
.footer-contact-icon:hover {
  color: #6d88a9;
}

.footer--title {
  color: #9cb9dd;
  font-family: "Lato Bold", sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.footer-title-bracket {
  color: #9cb9dd;
}

body {
  background-color: #111;
}

.home-container {
  min-height: calc(100% - 135px);
  counter-reset: footnotes;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container, .resume-title-container {
  padding-top: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .title-container, .resume-title-container {
    flex-direction: row;
    width: 100%;
    margin-bottom: 32px;
    padding-top: 200px;
  }
}

.title-column {
  flex: 1;
  justify-content: flex-end;
}

.info-column {
  color: lightcoral;
  font-size: 14px;
  flex: 5;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-end;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;
}
@media (min-width: 640px) {
  .info-column {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .info-column {
    font-size: 16px;
  }
}

.title-text {
  font-size: 45px;
  font-family: "Lato Bold", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-shadow: -4px -4px 0 #9cb9dd;
  color: #111;
  transition: all 0.8s 0s ease-in-out;
}
.title-text:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .title-text {
    font-size: 58px;
  }
}
@media (min-width: 1024px) {
  .title-text {
    font-size: 75px;
  }
}

.main-content {
  color: #9cb9dd;
  font-family: "Lato Light", sans-serif;
  font-size: 18px;
}
@media (min-width: 640px) {
  .main-content {
    font-size: 22px;
  }
}

.strong-text {
  color: #111;
  font-family: "Lato Bold", sans-serif;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.strong-text a {
  text-decoration: none;
  color: #222;
}
.strong-text:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0.2rem;
  background-color: #9cb9dd;
  transition: all 0.2s 0s ease-in-out;
}
.strong-text:hover:before {
  transition-delay: 0s;
  transition-duration: 0.2s;
  transform: scale(1.02, 1.02);
  background-color: #b4d5ff;
}

.resume-title-container {
  padding-top: 100px;
}

.resume-container {
  min-height: calc(100% - 135px);
}

.section-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid #9cb9dd;
}
@media (min-width: 640px) {
  .section-container {
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
  }
}

.section-title-column {
  flex: 1;
}
@media (min-width: 640px) {
  .section-title-column {
    flex-direction: row;
    width: 100%;
  }
}

.resume-section-title-text {
  font-family: "Lato Bold", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 20px;
}

.section-subheading {
  margin: 0;
}

.section-content-column {
  font-size: 18px;
  flex: 1;
}
@media (min-width: 640px) {
  .section-content-column {
    flex: 4;
  }
}

.section-list {
  padding-left: 18px;
}

.strong-link:hover:before {
  background-color: #fa8072;
}

.project-heading {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

.link-style {
  text-decoration: none;
  color: #222;
  position: relative;
  display: inline-block;
}
.link-style:before {
  content: "";
  position: absolute;
  bottom: 0.2em;
  width: 100%;
  height: 2px;
  background: #9cb9dd;
  z-index: -1;
}
.link-style:hover:before {
  background: #fa8072;
}

a[aria-describedby=footnote] {
  counter-increment: footnotes;
  text-decoration: none;
  color: #111;
  cursor: default;
  outline: none;
  /**
  * Actual numbered references
  * 1. Display the current state of the counter (e.g. `[1]`)
  * 2. Align text as superscript
  * 3. Make the number smaller (since it's superscript)
  * 4. Slightly offset the number from the text
  * 5. Reset link styles on the number to show it's usable
  */
}
a[aria-describedby=footnote]:after {
  content: counter(footnotes);
  vertical-align: super;
  font-size: 14px;
  margin-left: 2px;
  color: #9cb9dd;
  cursor: pointer;
}
a[aria-describedby=footnote]:hover:after {
  color: #6d88a9;
}

#footnote:target {
  background: yellow;
}

.footnote-text {
  font-size: 16px;
  padding-inline-start: 20px;
}

[aria-label="Back to content"] {
  color: #9cb9dd;
  font-size: 12px;
  margin-left: 4px;
}

/*# sourceMappingURL=home.css.map */
