@use "variables" as v;
@use "base";

// cv navbar styles;
.navbar {
  color: v.$white;
  background-color: v.$black;
  text-transform: uppercase;
  font-family: v.$font-light;
  line-height: 3rem;
  font-size: 12px;
  letter-spacing: 0.1rem;
  height: 50px;
}

.navbar-container {
  @extend .content-container;
  display: flex;
  justify-content: space-between;
}

.home--navbar-container {
  @extend .navbar-container;
  justify-content: flex-end;
}

.nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  color: v.$primary;
  padding: 0 0.8rem;
  text-decoration: none;
  font-size: 16px;
  &:hover {
    background-color: v.$primary;
    color: v.$black;
    font-family: v.$font-bold;
    > a {
      background-color: v.$primary;
      color: v.$black;
    }
  }
}

.nav-button-link {
  color: v.$white;
  text-decoration: none;
}

.download-button {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: v.$primary-dark;
  &:hover {
    background-color: v.$secondary;
  }
  @media (min-width: v.$large-screen) {
    display: flex;
  }
}

.download-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: v.$white;
}
