@use "variables" as v;
@use "base";
@use "navbar";

.link-style {
  text-decoration: none;
  color: v.$text-dark;
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
    bottom: 0.2em;
    width: 100%;
    height: 2px;
    background: v.$primary;
    z-index: -1;
  }
  &:hover {
    &:before {
      background: v.$secondary;
    }
  }
}


// home title styles
.cv--title-container {
  //@extend .title-container;
  margin-top: 64px;
}

// cv title styles;
.list-item-link {
  @extend .link-style;
}

////cv sections styles
.section-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid v.$gray;
  @media (min-width: v.$small-screen) {
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
  }
}
.section-title-column {
  flex: 1;
  @media (min-width: v.$small-screen) {
    flex-direction: row;
    width: 100%;
  }
}
.section-title-text {
  @extend .font-base;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}
.section-subheading {
  margin: 0;
}
.section-content-column {
  @extend .font-base;
  flex: 1;
  @media (min-width: v.$small-screen) {
    flex: 4;
  }
}
.section-list {
  padding-left: 18px;
}
//.strong-text {
//  color: v.$black;
//  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
//  font-weight: 700;
//  line-height: 1;
//  position: relative;
//  display: inline-block;
//  padding-left: 0.8rem;
//  padding-right: 0.8rem;
//  & a {
//    text-decoration: none;
//    color: v.$text-dark;
//  }
//  &:before {
//    content: "";
//    position: absolute;
//    z-index: -1;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    margin: auto;
//    border-radius: 0.2rem;
//    background-color: v.$primary;
//    transition: all 0.8s 0.4s ease-in-out;
//  }
//  &:hover {
//    &:before {
//      transform: scale(1.05 1.4);
//      background-color: v.$primary;
//      transition-delay: 0s;
//      transition-duration: 0.2s;
//    }
//  }
//}

.strong-link {
  &:hover {
    &:before {
      background-color: v.$secondary;
    }
  }
}

.project-heading {
  @extend .font-base;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}
