@font-face {
  font-family: Lato;
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Bold";
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Light";
  src: url("/fonts/Lato/Lato-light.ttf") format("truetype");
}
html,
body {
  height: 100%;
}

.font-base, .section-title-text, .section-content-column, .project-heading {
  font-family: "Lato Light", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #9cb9dd;
}

.content-container, .navbar-container, .home--navbar-container {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  color: #fff;
  background-color: #111;
  text-transform: uppercase;
  font-family: "Lato Light", sans-serif;
  line-height: 3rem;
  font-size: 12px;
  letter-spacing: 0.1rem;
  height: 50px;
}

.navbar-container, .home--navbar-container {
  display: flex;
  justify-content: space-between;
}

.home--navbar-container {
  justify-content: flex-end;
}

.nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  color: #9cb9dd;
  padding: 0 0.8rem;
  text-decoration: none;
  font-size: 16px;
}
.nav-button:hover {
  background-color: #9cb9dd;
  color: #111;
  font-family: "Lato Bold", sans-serif;
}
.nav-button:hover > a {
  background-color: #9cb9dd;
  color: #111;
}

.nav-button-link {
  color: #fff;
  text-decoration: none;
}

.download-button {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #6d88a9;
}
.download-button:hover {
  background-color: #fa8072;
}
@media (min-width: 1024px) {
  .download-button {
    display: flex;
  }
}

.download-button-link {
  text-decoration: none;
  padding: 0 0.8rem;
  color: #fff;
}

.link-style, .list-item-link {
  text-decoration: none;
  color: #222;
  position: relative;
  display: inline-block;
}
.link-style:before, .list-item-link:before {
  content: "";
  position: absolute;
  bottom: 0.2em;
  width: 100%;
  height: 2px;
  background: #9cb9dd;
  z-index: -1;
}
.link-style:hover:before, .list-item-link:hover:before {
  background: #fa8072;
}

.cv--title-container {
  margin-top: 64px;
}

.section-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 640px) {
  .section-container {
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
  }
}

.section-title-column {
  flex: 1;
}
@media (min-width: 640px) {
  .section-title-column {
    flex-direction: row;
    width: 100%;
  }
}

.section-title-text {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

.section-subheading {
  margin: 0;
}

.section-content-column {
  flex: 1;
}
@media (min-width: 640px) {
  .section-content-column {
    flex: 4;
  }
}

.section-list {
  padding-left: 18px;
}

.strong-link:hover:before {
  background-color: #fa8072;
}

.project-heading {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
