// colors
$primary: #9cb9dd;
$primary-light: #b4d5ff;
$primary-dark: #6d88a9;
$secondary: #fa8072;
$white: #fff;
$black: #111;
$text-dark: #222;
$gray: #ddd;

// breakpoints
$large-screen: 1024px;
$tablet-screen: 768px;
$small-screen: 640px;

// navbar
$navbar-height: 50px;
$footer-height: 85px;
